@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "pottaone";
  src: url("/fonts/pottaone.ttf") format("truetype");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ninshou-background {
  min-height: 100vh;
  background-image: url('/cat/ninshoubg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.login-form {
  background: rgba(239, 220, 197, 1);
  padding: 60px 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  font-family: "pottaone";
  color: #4A2C2A;
}

.login-form h1 {
  font-weight: nomal;
}